.expense-container{
  display: flex;
  
}

.expense-box{
  display: flex;
  flex-direction: column;
  width:100%;
  
}
.time-divider{
  height:25px;
  background-color: #EEE;
 border-bottom: 1px solid #c1bebe;
 display: flex;

 

}
.time-divider span{
  margin-top:5px;
  color:#666;
}

.check{
height: 100vh;
width: 100vw;
position: fixed;
top:0;
left:0;
right:0;
bottom:0;
background-color: rgba(0, 0, 0, 0.6); /* Dark transparent background */

z-index: 5000;
display: flex;
justify-content: center;
align-items: center;

  
}
.inner-check{
  height:200px;
  width:400px;
  background-color:#ff652f;
}
/* balances */
.balances{
  height:100vh;
  width: 100%;
  border-right: 1px solid grey;
  box-shadow: inset -1px 0px 5px  rgba(0, 0, 0, 0.5);
}
.balances h3{
  margin:10px 0 0 20px;
  color: grey;
  font-family: sans-serif;
  font-weight: 550;
}
.members-list{
  margin-top:20px;
}
.list{
  list-style: none;
}
.member{
  display: flex;
  margin-top: 10px;
}
.member-img{
  height: 40px;
  width:40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:5px;
}
.member-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.member-details{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 5px;
}
.member-name{
  font-family: sans-serif;
  font-size: medium;
}
.member-balance{
  margin-top: 3px;
  color:red
}
.no-expense{
  text-align: center;
  margin-top: 50px;
  font-size: larger;
}