.sideBar{
  height:100vh;
  width: 350px;
  position: fixed;
  border-right: 1px solid grey;
  box-shadow: inset -1px 0px 5px  rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
.sideBar-options{
  margin-left: 150px;
  margin-top: 20px;
}
.active{
  color:rgb(50, 191, 144);
  
  
}
.list-items{
  list-style: none;
  
  margin:5px;
  margin-top: 10px;
  padding-left:10px;
}
.list-items:hover{
  background-color: rgb(210, 207, 207);
  color:rgb(31, 31, 31);
}
.items-link{
  font-size: larger;
  text-decoration: none;
color: grey;
}
.items-link.active{
  color:rgb(50, 191, 144);
}